<!-- templates/modal_flights.html.twig -->
<div class="modal" tabindex="-1" role="dialog" id="flightSelectionModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select Flights</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="flightSelectionForm" method="post" action="{{ path('app_save_flight') }}">
            <h6>Outbound Flights</h6>
            {% for flight in outboundFlights %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="outboundFlight" id="outboundFlight{{ loop.index }}" value="{{ flight.flightNumber }}">
                <label class="form-check-label" for="outboundFlight{{ loop.index }}">
                  Flight Number: {{ flight.flightNumber }}, Departure: {{ flight.time[0] }}, Arrival: {{ flight.time[1] }}, Duration: {{ flight.duration }}, Price: {{ flight.regularFare.fares[0].amount }}
                </label>
              </div>
            {% endfor %}
  
            <h6>Return Flights</h6>
            {% for flight in returnFlights %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="returnFlight" id="returnFlight{{ loop.index }}" value="{{ flight.flightNumber }}">
                <label class="form-check-label" for="returnFlight{{ loop.index }}">
                  Flight Number: {{ flight.flightNumber }}, Departure: {{ flight.time[0] }}, Arrival: {{ flight.time[1] }}, Duration: {{ flight.duration }}, Price: {{ flight.regularFare.fares[0].amount }}
                </label>
              </div>
            {% endfor %}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="submitFlightSelectionForm()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  <script>
  function submitFlightSelectionForm() {
    document.getElementById('flightSelectionForm').submit();
  }
  </script>
  